@font-face {
    font-family: "Aleo";
    src: url(font/Aleo-Regular.otf);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: #000000;
    padding: 0;
    margin: 0;
    background-image: url(img/background.jpg);
    background-size: cover;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

nav {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 178, 0, .5);
    backdrop-filter: blur(5px);
    z-index: 9999;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 30px;

    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #000000;
}

nav ul li a:hover {
    background-color: #FEC990;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.hamburger {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    border-radius: 15px;
    margin: 6px;
    transition: .3s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.logo {
    padding: 10px 70px;
    display: flex;
}

.logo img {
    max-width: 50px;
    height: 50px;
}

.logo button {
    margin-left: 50px;
    background-color: #FEC990;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
}

.logo button:hover {
    background-color: #FFDAA6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

header {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.title {
    margin-left: 150px;
}

h1 {
    font-size: 80px;
    font-family: "Aleo";
    margin: 0px;
}

.atas {
    padding-top: 40px;
}

.slogan {
    background-color: #fdf907;
    max-width: 400px;
    border-radius: 10px;
}

.title p {
    padding-left: 20px;
}

span {
    color: #ba0000;
    border: none;
    border-radius: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.title button {
    background-color: #FEC990;
    color: #000000;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: sans-serif;
}

.title button:hover {
    background-color: #FFDAA6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.gambar {
    margin-right: 100px;
    margin-top: 50px;
}

.gambar img {
    max-width: 400px;
    height: 400px;
}

p {
    font-size: 26px;
}


/* main */

main {
    width: 100%;
}

section {
    padding: 40px;
    margin-left: 140px;
    margin-top: 50px;
}

h2 {
    font-family: "Aleo";
    font-size: 51px;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    max-width: 1200px;
}

.paragraph {
    display: flex;
}

.paragraph p {
    font-size: 34px;

}

figure {
    padding-right: 100px;
}


figure img {
    max-width: 400px;
    height: 400px;
}

.push {
    display: flex;
    justify-content: center;
}

.push button {
    margin-left: 50px;
    background-color: #FEC990;
    color: #000000;
    border: none;
    padding: 30px 25px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: sans-serif;
}

.push button:hover {
    background-color: #FFDAA6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



/* footer */

footer {
    margin-top: 100px;
    text-align: center;
    font-size: 14px;
    color: #000000;
    border-top: .5px solid #575252;
    width: 100%;
}

footer p {
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    padding: 0 50px;
    margin: 30px 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contact-info a {
    color: #000000;
    text-decoration: none;
    display: flex;
    margin: 5px;
    font-family: 'Overpass', sans-serif;
}

.contact-info a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}


@media (max-width: 768px) {
    nav ul {
        width: 60%;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-color: #541515;
        justify-content: space-evenly;
        z-index: -1;
        transform: translateX(100%);
        transition: all .5s;
        background-color: rgb(255, 178, 0);
    }

    nav ul.slide {
        transform: translate(0);
    }

    .hamburger {
        display: block;
        z-index: 1;
    }

    .logo {
        padding: 10px;
    }

    .logo button {
        margin-left: 10px;
        padding: 8px 15px;
        font-size: 14px;
    }

    header {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .title {
        text-align: center;
        margin-left: 0;
    }

    .title h1 {
        font-size: 50px;
    }

    .slogan {
        margin: auto;
        width: 400px;
    }

    .gambar {
        margin-right: 0;
        text-align: center;
    }

    .gambar img {
        margin: -20px auto;
        max-width: 300px;
        height: 300px;
    }

    main section {
        margin-left: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }

    h2 {
        margin-top: 0px;
    }

    .paragraph {
        display: flex;
        flex-direction: column-reverse;
    }

    .paragraph p {
        font-size: 24px;
        text-align: justify;
        margin-top: -5px;
    }

    figure {
        padding-right: 0;
        text-align: center;
        margin-top: -20px;
    }

    figure img {
        max-width: 300px;
        height: 300px;
    }

    .push button {
        margin-left: 10px;
        padding: 20px 15px;
        font-size: 18px;
    }

    footer p {
        padding: 0 20px;
    }
}



@media only screen and (max-width: 475px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    nav ul {
        width: 60%;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-color: #541515;
        justify-content: space-evenly;
        z-index: -1;
        transform: translateX(100%);
        transition: all .5s;
        background-color: rgb(255, 178, 0);
    }

    nav ul.slide {
        transform: translate(0);
    }

    .hamburger {
        display: block;
        z-index: 1;
    }

    .logo {
        padding: 10px;
    }

    .logo button {
        margin-left: 10px;
        padding: 8px 15px;
        font-size: 14px;
    }

    header {
        margin: auto;
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .title {
        text-align: center;
        margin-left: 0;
    }

    .title h1 {
        font-size: 45px;
    }

    .title p {
        font-size: 20px;
    }

    .slogan {
        margin: auto;
        max-width: 350px;
    }

    .gambar {
        margin-right: 0;
        text-align: center;
    }

    .gambar img {
        margin: -20px auto;
        max-width: 300px;
        height: 300px;
    }

    main {
        width: 100%;
        margin: auto;
        margin: 0;
        padding: 0;
    }

    main section {
        width: 60%;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
        margin-left: 20px;
    }


    section h2 {
        font-size: 30px;
        max-width: 370px;
    }

    .paragraph {
        display: flex;
        flex-direction: column-reverse;
    }

    .paragraph p {
        font-size: 17px;
        max-width: 370px;
        text-align: justify;
    }

    figure {
        padding-right: 0;
        text-align: center;
        margin-top: 10px;
    }

    figure img {
        max-width: 300px;
        height: 300px;
    }

    .push button {
        margin-left: 10px;
        padding: 20px 15px;
        font-size: 18px;
    }

    footer {
        margin: 40px 0px;
    }

    footer p {
        padding: 0 20px;
    }

}